{% extends 'inicio/base.html' %}
{% load static %}

{% block content %}

{% if user.is_superuser %}

<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<link rel="stylesheet" href="{% static 'css/botonRegister.css' %}">

<div class="container mt-5">

    <!-- 🔹 MENSAJES (éxito, error, etc) -->
    {% include 'inicio/messages.html' %}

    <!-- 🔹 TÍTULO -->
    <h3 class="mb-4"><b>Registrar Evento</b></h3>

    <form method="post">
        {% csrf_token %}

        <!-- 🔹 FILA 1 -->
        <div class="row">
            <div class="col-md-2">
                <label>Agencia</label>
                {{ form.agencia }}
            </div>

            <div class="col-md-2">
                <label>Fecha del informe</label>
                {{ form.fecha_informe }}
            </div>

            <div class="col-md-2">
                <label>Fecha de la actividad</label>
                {{ form.fecha_actividad }}
            </div>

            <div class="col-md-3">
                <label>Tipo de actividad</label>
                {{ form.tipo_actividad }}
            </div>

            <div class="col-md-3">
                <label>Lugar</label>
                {{ form.lugar_actividad }}
            </div>
        </div>

        <!-- 🔹 FILA 2 -->
        <div class="row mt-3">
            <div class="col-md-5">
                <label>Nombre de la actividad</label>
                {{ form.nombre_actividad }}
            </div>

            <div class="col-md-2">
                <label>Cupo total</label>
                {{ form.cupo_participantes }}
            </div>

            <div class="col-md-2">
                <label>Numero de asociados</label>
                {{ form.asociados_participantes }}
            </div>

            <div class="col-md-2">
                <label>Numero de acompañantes</label>
                {{ form.acompanantes_participantes }}
            </div>

        </div>

        <!-- 🔹 FILA 3 -->
        <div class="row mt-3">
            <div class="col-md-3">
                <label>Facilitador</label>
                {{ form.facilitador }}
            </div>

            <div class="col-md-3">
                <label>Entidad aliada</label>
                {{ form.entidad_aliada }}
            </div>

            <div class="col-md-4">
                <label>Programa de desarrollo</label>
                {{ form.programa_desarrollo }}
            </div>

        </div>
        <!-- 🔹 FILA 4 -->
        <div class="row mt-3">
            <div class="col-md-12">
                <label>Descripción de la ejecución</label>
                {{ form.descripcion_ejecucion }}
            </div>
        </div>

        <!-- 🔹 BOTÓN -->
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-success px-5 register-button w-25">
                Guardar Evento
            </button>
        </div>

    </form>

</div>

{% else %}
    {% include 'inicio/accesoRestringido.html' %}
{% endif %}

{% endblock %}