{% extends 'inicio/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/botonRegister.css' %}">
<link rel="stylesheet" href="{% static 'css/flechaAcordeon.css' %}">

<div class="container mt-5">

    <h3 class="mb-4">Editar Evento</h3>

    {% include 'inicio/messages.html' %}

    <form method="POST">
        {% csrf_token %}

        <div class="accordion" id="accordionEditar">

            <!-- 🔹 INFORMACIÓN DEL EVENTO -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="bg-dark text-white accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#infoEvento">
                        <i class="fas fa-calendar-alt me-2"></i>Información del Evento
                    </button>
                </h2>

                <div id="infoEvento" class="accordion-collapse collapse show">
                    <div class="accordion-body">

                        <div class="row">
                            <div class="col-md-2 mb-3">
                                <label class="fw-bold">{{ form.agencia.label }}</label>
                                {{ form.agencia }}
                            </div>

                            <div class="col-md-2 mb-3">
                                <label class="fw-bold">{{ form.fecha_informe.label }}</label>
                                {{ form.fecha_informe }}
                            </div>

                            <div class="col-md-2 mb-3">
                                <label class="fw-bold">{{ form.fecha_actividad.label }}</label>
                                {{ form.fecha_actividad }}
                            </div>

                            <div class="col-md-3 mb-3">
                                <label class="fw-bold">{{ form.tipo_actividad.label }}</label>
                                {{ form.tipo_actividad }}
                            </div>

                            <div class="col-md-3 mb-3">
                                <label class="fw-bold">{{ form.lugar_actividad.label }}</label>
                                {{ form.lugar_actividad }}
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-5 mb-3">
                                <label class="fw-bold">{{ form.nombre_actividad.label }}</label>
                                {{ form.nombre_actividad }}
                            </div>

                            <div class="col-md-2 mb-3">
                                <label class="fw-bold">{{ form.cupo_participantes.label }}</label>
                                {{ form.cupo_participantes }}
                            </div>

                            <div class="col-md-2 mb-3">
                                <label class="fw-bold">{{ form.asociados_participantes.label }}</label>
                                {{ form.asociados_participantes }}
                            </div>

                            <div class="col-md-3 mb-3">
                                <label class="fw-bold">{{ form.acompanantes_participantes.label }}</label>
                                {{ form.acompanantes_participantes }}
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-3 mb-3">
                                <label class="fw-bold">{{ form.facilitador.label }}</label>
                                {{ form.facilitador }}
                            </div>

                            <div class="col-md-3 mb-3">
                                <label class="fw-bold">{{ form.entidad_aliada.label }}</label>
                                {{ form.entidad_aliada }}
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="fw-bold">{{ form.programa_desarrollo.label }}</label>
                                {{ form.programa_desarrollo }}
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12 mb-3">
                                <label class="fw-bold">{{ form.descripcion_ejecucion.label }}</label>
                                {{ form.descripcion_ejecucion }}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-label fw-bold text-primary">
                                    <i class="fas fa-users"></i> {{ form.colaboradores.label }}
                                </label>
                                {{ form.colaboradores }}
                            </div>

                            <div class="col-md-6">
                                <label class="form-label fw-bold text-danger">
                                    <i class="fas fa-user-tie"></i> {{ form.directivos.label }}
                                </label>
                                {{ form.directivos }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- PRESUPUESTO PROYECTADO -->
            <div class="accordion-item border-primary mb-4 shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseP">
                        <i class="fa-solid fa-dollar-sign me-2"></i>Presupuesto Proyectado
                    </button>
                </h2>
                <div id="collapseP" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <div class="row">
                            {% for field in form_proyectado %}
                                <div class="col-md-3 mb-3">
                                    <label class="small fw-bold">{{ field.label }}</label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- PRESUPUESTO EJECUTADO -->
            <div class="accordion-item border-success mb-4 shadow-sm">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-success text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseE">
                        <i class="fa-solid fa-dollar-sign me-2"></i>Presupuesto Ejecutado
                    </button>
                </h2>
                <div id="collapseE" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <div class="row">
                            {% for field in form_ejecutado %}
                                <div class="col-md-3 mb-3">
                                    <label class="small fw-bold">{{ field.label }}</label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-dark btn-lg px-5 shadow register-button">
                💾 Guardar cambios
            </button>
            <a href="{% url 'detalle_evento' evento.id %}" class="btn btn-danger text-white btn-outline-primary">
            Cancelar
            </a>
            <br>
            <br>
        </div>

    </form>

</div>

<script src="{% static 'js/valorMiles.js' %}"></script>

<script>
    $(document).ready(function() {
        $('select[multiple]').select2({
            theme: 'bootstrap-5',
            placeholder: 'Seleccionar...',
            allowClear: true,
            width: '100%'
        });
    });
</script>

{% endblock %}