{% extends 'inicio/base.html' %}
{% load static %}

{% block content %}

{% if user.is_superuser %}

<link rel="stylesheet" href="{% static 'css/acciones.css' %}">
<div class="container mt-5">

  {% include 'inicio/messages.html' %}

  <h4 class="text-center mb-4"><b>Listado de participantes</b></h4>

  <div class="table-responsive">
    <table id="example1" class="table table-bordered table-hover align-middle">
      <thead class="table-secondary text-center">
        <tr>
          <th>ID</th>
          <th>Tipo participante</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Identificación</th>
          <th>Agencia</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
      {% for participantes in lista_participantes %}
        <tr>
          <td>{{ participantes.id }}</td>
          <td>{{ participantes.tipo_participante }}</td>
          <td>{{ participantes.nombres }}</td>
          <td>{{ participantes.apellidos }}</td>
          <td>{{ participantes.identificacion }}</td>
          <td>{{ participantes.agencia }}</td>
          <!-- Acciones -->
          <td class="text-center">
            <div class="dropdown">
              <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Acciones
              </button>
              <ul class="dropdown-menu shadow">

                <li>
                  <a class="dropdown-item btn-editar" href="#" 
                    data-bs-toggle="modal" 
                    data-bs-target="#modalEditarParticipante"
                    data-id="{{ participantes.id }}" 
                    data-tipo_participante="{{ participantes.tipo_participante }}"
                    data-nombres="{{ participantes.nombres }}" 
                    data-apellidos="{{ participantes.apellidos }}"
                    data-identificacion="{{ participantes.identificacion }}" 
                    data-agencia="{{ participantes.agencia }}">
                    <i class="fa-solid fa-pen-to-square text-primary me-2"></i>Editar participante
                  </a>
                </li>
                <!--
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item btn-eliminar text-danger" href="#" 
                  data-bs-toggle="modal" 
                  data-bs-target="#modalEliminarParticipante"
                  data-id="{{ participantes.id }}" 
                  data-nombres="{{ participantes.nombres }}">
                  <i class="fa-solid fa-trash-can me-2"></i>Eliminar Usuario
                  </a>
                </li>
                -->

              </ul>
            </div>
          </td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include 'registrar_eventos/modalEditarParticipante.html' %}
{% include 'registrar_eventos/modalEliminarParticipante.html' %}

<script src="{% static 'js/ordenarUsuarios.js' %}"></script>

{% else %}

{% include 'inicio/accesoRestringido.html' %}

{% endif %}
{% endblock %}
