/* NAVBAR SIEMPRE NEGRO TRANSPARENTE */
.navbar {
    background: rgba(0, 0, 0, 0.85) !important;
}

/* 🔥 ESTA ES LA CLAVE */
.navbar-collapse {
    background: transparent !important; /* evita el gris */
}

/* CUANDO ESTÁ ABIERTO EN MÓVIL */
.navbar-collapse.show {
    background: rgba(0, 0, 0, 0.85) !important;
}