{% extends 'inicio/base.html' %}
{% load static %}

{% block content %}

{% if user.is_superuser %}

<link rel="stylesheet" href="{% static 'css/acciones.css' %}">
<div class="container mt-5">

  {% include 'inicio/messages.html' %}

  <h4 class="text-center mb-4"><b>Listado de usuarios</b></h4>

  <div class="table-responsive">
    <table id="example1" class="table table-bordered table-hover align-middle">
      <thead class="table-secondary text-center">
        <tr>
          <th>ID</th>
          <th>Identificación</th>
          <th>Nombres</th>
          <th>Usuario</th>
          <th>Agencia</th>
          <th>Email</th>
          <th>Tipo</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
      {% for usuarios in lista_usuarios %}
        <tr>
          <td>{{ usuarios.id }}</td>
          <td>{{ usuarios.identificacion }}</td>
          <td>{{ usuarios.nombres }}</td>
          <td>{{ usuarios.username }}</td>
          <td>{{ usuarios.agencia }}</td>
          <td>{{ usuarios.email }}</td>

          <td>
            {% if usuarios.is_superuser %}
              <span class="badge bg-primary">Administrador</span>
            {% else %}
              <span class="badge bg-warning text-dark">Cliente</span>
            {% endif %}
          </td>

          <td>
            {% if usuarios.is_active %}
              <span class="badge bg-success">Activo</span>
            {% else %}
              <span class="badge bg-danger">Inactivo</span>
            {% endif %}
          </td>

          <!-- Acciones -->
          <td class="text-center">
            <div class="dropdown">
              <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Acciones
              </button>
              <ul class="dropdown-menu shadow">

                <li>
                  <a class="dropdown-item btn-editar" href="#" 
                  data-bs-toggle="modal" data-bs-target="#modalEditar"
                  data-id="{{ usuarios.id }}" data-identificacion="{{ usuarios.identificacion }}"
                  data-nombres="{{ usuarios.nombres }}" data-username="{{ usuarios.username }}"
                  data-email="{{ usuarios.email }}" data-agencia="{{ usuarios.agencia|upper }}"
                  data-superuser="{{ usuarios.is_superuser }}" data-active="{{ usuarios.is_active }}">
                  <i class="fa-solid fa-pen-to-square text-primary me-2"></i>Editar Usuario
                  </a>
                </li>

                <li>
                  <a class="dropdown-item btn-cambiar-clave" href="#" 
                  data-bs-toggle="modal" data-bs-target="#modalCambiarClave" 
                  data-id="{{ usuarios.id }}">
                  <i class="fa-solid fa-key text-warning me-2"></i>Cambiar Clave
                  </a>
                </li>

                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item btn-eliminar text-danger" href="#" 
                  data-bs-toggle="modal" data-bs-target="#modalEliminar"
                  data-id="{{ usuarios.id }}" data-username="{{ usuarios.username }}">
                  <i class="fa-solid fa-trash-can me-2"></i>Eliminar Usuario
                  </a>
                </li>
              </ul>
            </div>
          </td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include 'users/modalEditar.html' %}
{% include 'users/modalCambiarClave.html' %}

<script src="{% static 'js/ordenarUsuarios.js' %}"></script>

{% else %}

{% include 'inicio/accesoRestringido.html' %}

{% endif %}
{% endblock %}
